<div class="min-h-screen flex relative lg:static surface-ground">
  <div class="flex w-full">
    <p-sidebar
      [visible]="true"
      [dismissible]="false"
      [showCloseIcon]="false"
      [closeOnEscape]="false"
      [modal]="false"
      [transitionOptions]="'0ms cubic-bezier(0, 0, 0.2, 1)'"
      styleClass="w-15rem relative"
    >
      <ng-template pTemplate="header">
        <div
          class="flex align-items-center justify-content-between pt-3 flex-shrink-0"
        >
          <span class="inline-flex align-items-center gap-2">
            <span class="font-semibold text-1xl text-primary"
              >Application Settings</span
            >
          </span>
          <span> </span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <ul class="list-none p-0 m-0 overflow-hidden">
          @for (item of items; track $index) {

          <li>
            <a
              [routerLink]="item.route"
              [routerLinkActive]="'surface-200'"
              [routerLinkActiveOptions]="{ exact: true }"
              pRipple
              class="flex align-items-center cursor-pointer p-2 py-3 my-1 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple text-decoration-none"
            >
              <span class="font-medium">{{ item.label }}</span>
            </a>
          </li>
          }
        </ul>
      </ng-template>
      <ng-template pTemplate="footer"> </ng-template>
    </p-sidebar>
    <div class="w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
