<app-header [menubarItems]="menubarItems"></app-header>
<div class="card h-fit">
  <p-table
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped h-fit"
    [scrollable]="true"
    scrollHeight="80vh"
    #adminTable
    [value]="admins"
    dataKey="id"
    [loading]="loading"
    [globalFilterFields]="[
      'email',
      'created',
      'access.collections.read',
      'access.application.read'
    ]"
    [lazy]="true"
    (onLazyLoad)="sort($event)"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="w-full"
            placeholder="Search email"
            [(ngModel)]="searchBar"
          />
        </span>
        <p-button
          styleClass="ml-2"
          icon="pi pi-search"
          label="Search"
          (click)="search()"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="uuid">
          uuid <p-sortIcon field="uuid"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="created">
          Created Date <p-sortIcon field="created"></p-sortIcon>
        </th>
        <th>Access Rights</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-admin>
      <tr>
        <td>{{ admin.uuid }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.created | date : "MM/dd/yyyy" }}</td>
        <td>
          Collections: {{ admin.access.collections.read ? "Read" : "No Read" }},
          Admins:
          {{ admin.access.admins.read ? "Read" : "No Read" }} Application:
          {{ admin.access.application.read ? "Read" : "No Read" }}
        </td>
        <td class="flex flex-wrap gap-3 justify-content-left">
          <p-button
            icon="pi pi-eye"
            pTooltip="View"
            tooltipPosition="top"
            [raised]="true"
            [rounded]="true"
            (click)="viewClick(admin)"
          ></p-button>
          <p-button
            icon="pi pi-pencil"
            pTooltip="Edit"
            tooltipPosition="top"
            (click)="editClick(admin)"
            severity="help"
            [raised]="true"
            [rounded]="true"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            pTooltip="Delete"
            tooltipPosition="top"
            severity="danger"
            [raised]="true"
            [rounded]="true"
            (click)="deleteClick($event, admin.uuid)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No admins found.</td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="(pagination.current_page - 1) * pagination.per_page"
    [rows]="pagination.per_page"
    [totalRecords]="pagination.total_admins"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    (onPage)="onPageChange($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  ></p-paginator>
</div>

<p-sidebar
  [(visible)]="adminFormSidebarVisible"
  [showCloseIcon]="false"
  [closeOnEscape]="false"
  [position]="'right'"
  styleClass="w-50rem"
  [dismissible]="false"
  (onHide)="confirmClose($event)"
>
  <ng-template pTemplate="header"
    ><h3>{{ actionUuid ? "Update" : "Add" }} Admin</h3>
  </ng-template>

  <ng-template pTemplate="content">
    <app-spinner [loading]="adminSidebarLoading" />
    <p-scrollPanel [style]="{ width: '100%', height: '75vh' }">
      <form [formGroup]="adminFormGroup" class="p-fluid form-layout mx-4">
        <div class="p-grid">
          <div class="p-field p-col-12 p-md-6">
            <label for="email">Email Address</label>
            <input
              id="email"
              type="text"
              pInputText
              formControlName="email"
              placeholder="Enter email"
            />
            <div *ngIf="adminFormGroup.get('email')?.errors?.['uniqueEmail']">
              This email is already taken.
            </div>
          </div>

          <div class="p-field p-col-12 p-md-6">
            <label for="password">Password</label>
            <p-password
              id="password"
              formControlName="password"
              placeholder="Enter password"
              [toggleMask]="true"
            ></p-password>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-12 p-md-3">
            <p-checkbox
              [binary]="true"
              formControlName="emailVerified"
              label="Email Verified"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3">
            <p-checkbox
              [binary]="true"
              formControlName="passwordResetDone"
              label="Password Reset Completed"
            ></p-checkbox>
          </div>
        </div>

        <div class="p-field">
          <label for="avatar">Avatar URL</label>
          <p-dropdown
            [options]="avatars"
            formControlName="avatar"
            optionLabel="name"
            [showClear]="true"
            placeholder="Select an Avatar"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="flex align-items-center gap-2"
                *ngIf="adminFormGroup.get('avatar')?.value"
              >
                <img
                  [src]="adminFormGroup.get('avatar')?.value?.path"
                  style="width: 32px; height: 32px; border-radius: 50%"
                />
                <div>{{ adminFormGroup.get("avatar")?.value?.name }}</div>
              </div>
            </ng-template>
            <ng-template let-avatar pTemplate="item">
              <div class="flex align-items-center gap-2">
                <img
                  [src]="avatar.path"
                  style="width: 32px; height: 32px; border-radius: 50%"
                />
                <div>{{ avatar.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <!-- Access Permissions -->
        <div formGroupName="access" class="p-mt-4">
          <p-fieldset legend="Collections Permissions" styleClass="mt-2">
            <div class="p-grid">
              <div
                class="p-col-12 p-checkbox-group"
                formGroupName="collections"
              >
                <p-checkbox
                  [binary]="true"
                  formControlName="create"
                  label="Create"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="read"
                  label="Read"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="update"
                  label="Update"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="delete"
                  label="Delete"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="import"
                  label="Import"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="edit"
                  label="Edit"
                ></p-checkbox>
              </div>
            </div>
          </p-fieldset>

          <p-fieldset legend="Admin Permissions" styleClass="mt-2">
            <div class="p-grid">
              <div class="p-col-12 p-checkbox-group" formGroupName="admins">
                <p-checkbox
                  [binary]="true"
                  formControlName="create"
                  label="Create"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="read"
                  label="Read"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="update"
                  label="Update"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="delete"
                  label="Delete"
                ></p-checkbox>
              </div>
            </div>
          </p-fieldset>

          <p-fieldset legend="Application Permissions" styleClass="mt-2">
            <div class="p-grid">
              <div
                class="p-col-12 p-checkbox-group"
                formGroupName="application"
              >
                <p-checkbox
                  [binary]="true"
                  formControlName="read"
                  label="Read"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="update"
                  label="Update"
                ></p-checkbox>
              </div>
            </div>
          </p-fieldset>

          <p-fieldset legend="Other Permissions" styleClass="mt-2">
            <div class="p-grid">
              <div class="p-col-12 p-checkbox-group">
                <p-checkbox
                  [binary]="true"
                  formControlName="importSchemas"
                  label="Import Schemas"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="exportSchemas"
                  label="Export Schemas"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="tokenManagement"
                  label="Token Management"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="mailManagement"
                  label="Mail Management"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="logs"
                  label="Access Logs"
                ></p-checkbox>
                <p-checkbox
                  [binary]="true"
                  formControlName="backupManagement"
                  label="Backup Management"
                ></p-checkbox>
              </div>
            </div>
          </p-fieldset>
        </div>
      </form>
    </p-scrollPanel>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex">
      <div class="ml-auto">
        <p-button
          (click)="confirmClose($event)"
          severity="warning"
          class="mr-2"
          label="Close"
          icon="pi pi-times"
          [raised]="true"
        ></p-button>
        <p-button
          class="p-button-text p-button-text"
          [label]="actionUuid ? 'Update' : 'Add'"
          severity="primary"
          icon="pi pi-check"
          [raised]="true"
          (click)="submitAdmin()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-spinner [loading]="screenLoading" [type]="'full'" />
