<p-accordionTab>
  <ng-template pTemplate="header">
    <span class="flex align-items-center gap-2 w-full pt-4">
      <span class="p-float-label w-full">
        <input
          type="text"
          pInputText
          [(ngModel)]="column.name"
          class="w-full"
          id="name"
        />
        <label for="name">Column Name</label>
      </span>
      <i class="pi pi-cog ml-auto text-2xl"></i>
    </span>
  </ng-template>
  <div>
    <div class="grid mt-2">
      <div class="col-6">
        <span class="p-float-label w-full">
          <input
            pInputText
            id="exceptDomains"
            [(ngModel)]="column.options.exceptDomains"
          />
          <label for="exceptDomains">Except Domains</label>
        </span>
      </div>
      <div class="col-6">
        <span class="p-float-label">
          <input
            pInputText
            id="onlyDomains"
            [(ngModel)]="column.options.onlyDomains"
          />
          <label for="onlyDomains">Only Domains</label>
        </span>
      </div>
      <div class="col-4">
        <div class="flex align-items-center gap-1">
          <p-checkbox
            [(ngModel)]="column.required"
            inputId="required"
            [binary]="true"
          ></p-checkbox>
          <label for="required">Required</label>
        </div>
      </div>
      <div class="col-4">
        <div class="flex align-items-center gap-1">
          <p-checkbox
            [(ngModel)]="column.unique"
            inputId="unique"
            [binary]="true"
          ></p-checkbox>
          <label for="unique">Unique</label>
        </div>
      </div>
      <div class="col-4">
        <div class="flex">
          <i
            class="pi pi-ellipsis-h ml-auto"
            (click)="createMenu.toggle($event)"
            pTooltip="Actions"
          ></i>
        </div>
      </div>
    </div>
  </div>
</p-accordionTab>
<p-menu
  #createMenu
  [model]="createActions"
  [popup]="true"
  appendTo="body"
></p-menu>
