:host ::ng-deep {
  .p-inputtext {
    width: 100% !important;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.5rem !important;
  }
}

.sidebar-content {
  width: calc(100vw - 20rem);
}