<!-- component.html -->
<div class="w-full p-3">
  <div class="card">
    <p-toast></p-toast>

    <!-- Dynamic PrimeNG Table for Entries -->
    <p-table
      #dt
      [value]="entries"
      dataKey="id"
      [paginator]="false"
      [loading]="loading"
      loadingIcon="
    pi pi-spin pi-spinner loading-icon-size"
      [lazy]="true"
      (onLazyLoad)="loadEntriesLazy($event)"
      (onSort)="onSort($event)"
      [scrollable]="true"
      scrollHeight="50rem"
      [tableStyle]="{ 'min-width': '50rem' }"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <div class="block w-full">
            <div class="flex w-full gap-2 mb-2">
              <p-multiSelect
                [options]="dynamicColumns"
                [(ngModel)]="selectedFields"
                optionLabel="name"
                selectedItemsLabel="{0} columns selected"
                [style]="{ 'min-width': '200px' }"
                placeholder="Choose Columns"
                (onChange)="dynamicColumnChange()"
                [showToggleAll]="false"
              ></p-multiSelect>

              <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success ml-auto"
                (click)="openNew()"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-refresh"
                label="Refresh"
                class="p-button-info"
                (click)="fetchEntries()"
                pTooltip="Refresh"
                tooltipPosition="bottom"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file"
                (click)="dt.exportCSV()"
                pTooltip="CSV"
                tooltipPosition="bottom"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file-excel"
                (click)="exportExcel()"
                class="p-button-success"
                pTooltip="XLS"
                tooltipPosition="bottom"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-file-pdf"
                (click)="exportPdf()"
                class="p-button-warning"
                pTooltip="PDF"
                tooltipPosition="bottom"
              ></button>
            </div>
            <p-inputGroup styleClass="w-full" class="w-full">
              <button
                type="button"
                pButton
                icon="pi pi-copy"
                class="p-button-info"
                (click)="copyContent(searchFilter)"
              ></button>
              <input
                type="text"
                pInputText
                placeholder="Filter..."
                (input)="filterGlobal()"
                [(ngModel)]="searchFilter"
                [disabled]="true"
              />
            </p-inputGroup>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="uuid">
            <div class="flex justify-content-between align-items-center">
              UUID<p-sortIcon field="uuid"></p-sortIcon>
            </div>
          </th>
          @if (schema.type == 2) {
          <th pSortableColumn="username">
            <div class="flex justify-content-between align-items-center">
              username<p-sortIcon field="username"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="username"
                display="menu"
                class="ml-auto"
              ></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="email">
            <div class="flex justify-content-between align-items-center">
              email<p-sortIcon field="email"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="email"
                display="menu"
                class="ml-auto"
              ></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="verified">
            <div class="flex justify-content-between align-items-center">
              verified
            </div>
          </th>
          <th pSortableColumn="show_email">
            <div class="flex justify-content-between align-items-center">
              show_email
            </div>
          </th>
          } @for (col of dynamicColumns; track $index) { @if
          (selectedFields.includes(col)) { @if (col.id != FIELD_TYPE.JSON &&
          col.id != FIELD_TYPE.EDITOR) {
          <th pSortableColumn="{{ getFieldName(col.name) }}">
            <div class="flex justify-content-between align-items-center">
              <span class="field-name">{{ col.name }}</span>

              <p-sortIcon field="{{ getFieldName(col.name) }}"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="{{ getFieldName(col.name) }}"
                display="menu"
                class="ml-auto"
              ></p-columnFilter>
            </div>
            <!-- <div class="mt-2 w-full">({{ col.type | uppercase }})</div> -->
          </th>
          } @else {
          <th>
            <div class="flex justify-content-between align-items-center">
              <span class="field-name">{{ col.name }}</span>
            </div>
            <!-- <div class="mt-2 w-full">({{ col.type | uppercase }})</div> -->
          </th>
          } } }
          <th pSortableColumn="created">
            <div class="flex justify-content-between align-items-center">
              Created<p-sortIcon field="created"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="updated">
            <div class="flex justify-content-between align-items-center">
              Updated<p-sortIcon field="updated"></p-sortIcon>
            </div>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowEntry>
        <tr>
          <td><p-tableCheckbox [value]="rowEntry"></p-tableCheckbox></td>
          <td>
            <p-chip
              class="cursor-pointer"
              label="{{ rowEntry.uuid | ellipsis : 8 }}"
              icon="pi pi-copy"
              (click)="copyContent(rowEntry.uuid)"
            ></p-chip>
          </td>
          @if (schema.type == 2) {
          <td>
            <span
              ><p-chip
                class="cursor-pointer"
                label="{{ rowEntry.username | ellipsis : 12 }}"
                icon="pi pi-copy"
                (click)="copyContent(rowEntry.username)"
              ></p-chip
            ></span>
          </td>
          <td>
            <span
              ><p-chip
                class="cursor-pointer"
                label="{{ rowEntry.email | ellipsis : 12 }}"
                icon="pi pi-copy"
                (click)="copyContent(rowEntry.email)"
              ></p-chip
            ></span>
          </td>
          <td>
            <span>
              <p-checkbox
                [binary]="true"
                [disabled]="true"
                id="verified"
                [ngModel]="rowEntry.verified"
                class="w-full"
              ></p-checkbox
            ></span>
          </td>
          <td>
            <span>
              <p-checkbox
                [binary]="true"
                [disabled]="true"
                id="verified"
                [ngModel]="rowEntry.show_email"
                class="w-full"
              ></p-checkbox
            ></span>
          </td>
          } @for (col of dynamicColumns; track $index) { @if
          (selectedFields.includes(col)) {
          <td>
            <ng-container [ngSwitch]="col.id">
              <span *ngSwitchCase="FIELD_TYPE.TEXT">{{
                rowEntry[getFieldName(col.name)]
              }}</span>
              <span *ngSwitchCase="FIELD_TYPE.NUMBER">{{
                rowEntry[getFieldName(col.name)]
              }}</span>
              <span *ngSwitchCase="FIELD_TYPE.DATE">{{
                rowEntry[getFieldName(col.name)] | date
              }}</span>
              <span *ngSwitchCase="FIELD_TYPE.JSON">{{
                rowEntry[getFieldName(col.name)] | jsonEllipsis : 20
              }}</span>
              <span *ngSwitchCase="FIELD_TYPE.BOOL">
                <p-checkbox
                  [binary]="true"
                  [disabled]="true"
                  id="verified"
                  [ngModel]="rowEntry[getFieldName(col.name)]"
                  class="w-full"
                ></p-checkbox
              ></span>
              <span *ngSwitchCase="FIELD_TYPE.EMAIL">
                <p-chip
                  class="cursor-pointer"
                  label="{{ rowEntry[getFieldName(col.name)] | ellipsis : 8 }}"
                  icon="pi pi-copy"
                  (click)="copyContent(rowEntry[getFieldName(col.name)])"
                ></p-chip
              ></span>
              <span *ngSwitchCase="FIELD_TYPE.URL"
                ><a
                  href="{{ rowEntry[getFieldName(col.name)] }}"
                  target="_blank"
                  >{{ rowEntry[getFieldName(col.name)] }}</a
                ></span
              >
              <span *ngSwitchCase="FIELD_TYPE.EDITOR">{{
                rowEntry[getFieldName(col.name)] | ellipsis : 20
              }}</span>
              <span *ngSwitchCase="FIELD_TYPE.SELECT">{{
                rowEntry[getFieldName(col.name)]
              }}</span>
              <span *ngSwitchCase="FIELD_TYPE.RELATION">{{
                rowEntry[getFieldName(col.name)]
              }}</span>
            </ng-container>
          </td>
          } }
          <td>{{ rowEntry.created | date : "dd/MM/yyyy hh:mm a" }}</td>
          <td>{{ rowEntry.updated | date : "dd/MM/yyyy hh:mm a" }}</td>
          <td>
            <div class="flex w-full gap-2">
              <button
                pButton
                pRipple
                label="Edit"
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="editEntry(rowEntry)"
              ></button>
              <button
                pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger mr-2"
                (click)="deleteEntry(rowEntry)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="(pagination.current_page - 1) * pagination.per_page"
      [rows]="pagination.per_page"
      [totalRecords]="pagination.total"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      (onPage)="onPageChange($event)"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    ></p-paginator>

    <!-- Dialog for Editing/Adding Entries -->
    <p-dialog
      header="Entry Details"
      [(visible)]="entryDialog"
      [modal]="true"
      [style]="{ width: '75vw' }"
    >
      <form [formGroup]="form" (ngSubmit)="saveEntry()">
        <div class="grid">
          @if (schema.type == 2) {
          <div class="col-6">
            <div class="flex flex-column w-full">
              <label for="email" class="font-bold"> email</label>
              <input
                pInputText
                id="email"
                type="text"
                formControlName="email"
                class="w-full"
                [ngClass]="form.get('email')?.touched && form.get('email')?.errors?.['unique'] ? 'ng-invalid ng-dirty': ''"
              />
              <div
                *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['unique']"
              >
                This email is already taken.
              </div>
            </div>
          </div>
          @if (!isEdit) {
          <div class="col-6">
            <div class="flex flex-column w-full">
              <label for="password" class="font-bold"> password</label>
              <p-password
                formControlName="password"
                class="w-full"
                styleClass="w-full"
                [toggleMask]="true"
                [ngClass]="form.get('password')?.touched && form.get('password')?.errors?.['minlength'] ? 'ng-invalid ng-dirty': ''"
              ></p-password>
              <div
                *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']"
              >
                Min length of 6 is required.
              </div>
            </div>
          </div>
          }

          <div class="col-6">
            <div class="flex flex-column w-full">
              <label for="username" class="font-bold"> username</label>
              <input
                pInputText
                id="username"
                type="text"
                formControlName="username"
                class="w-full"
                [ngClass]="form.get('username')?.touched && form.get('username')?.errors?.['unique'] ? 'ng-invalid ng-dirty': ''"
              />
              <div
                *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['unique']"
              >
                This username is already taken.
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="flex flex-column w-full">
              <label for="verified" class="font-bold"> verified</label>
              <p-checkbox
                [binary]="true"
                id="verified"
                formControlName="verified"
                class="w-full"
              ></p-checkbox>
              @if (entry.uuid) {
              <p-button
                icon="pi pi-check"
                (click)="verifyAuthEntry()"
                label="Verify"
              ></p-button>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="flex flex-column w-full">
              <label for="show_email" class="font-bold"> show_email</label>
              <p-checkbox
                [binary]="true"
                id="show_email"
                formControlName="show_email"
                class="w-full"
              ></p-checkbox>
            </div>
          </div>
          <p-divider class="w-full"></p-divider>
          }
          <div class="col-6 mt-2" *ngFor="let col of dynamicColumns">
            <div class="flex flex-column w-full">
              <label for="{{ getFieldName(col.name) }}" class="font-bold">{{
                col.name
              }}</label>
              @switch (col.id) { @case (FIELD_TYPE.TEXT) {
              <input
                pInputText
                id="{{ getFieldName(col.name) }}"
                type="text"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
              />
              } @case (FIELD_TYPE.EMAIL) {
              <input
                pInputText
                id="{{ getFieldName(col.name) }}"
                type="email"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
              />
              } @case (FIELD_TYPE.URL) {
              <input
                pInputText
                id="{{ getFieldName(col.name) }}"
                type="url"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
              />
              } @case (FIELD_TYPE.EDITOR) {
              <p-editor
                id="{{ getFieldName(col.name) }}"
                formControlName="{{ getFieldName(col.name) }}"
                [style]="{ height: '320px' }"
              ></p-editor>
              } @case (FIELD_TYPE.NUMBER) {
              <p-inputNumber
                [id]="getFieldName(col.name)"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
                [mode]="'decimal'"
              ></p-inputNumber>
              } @case (FIELD_TYPE.BOOL) {
              <p-checkbox
                [binary]="true"
                [id]="getFieldName(col.name)"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
              ></p-checkbox>
              } @case (FIELD_TYPE.DATE) {
              <p-calendar
                [id]="getFieldName(col.name)"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
                [showIcon]="true"
                [showTime]="true"
              ></p-calendar>
              }@case (FIELD_TYPE.JSON) {
              <json-editor
                [options]="jsonEditorOptions"
                formControlName="{{ getFieldName(col.name) }}"
              ></json-editor>
              } @case (FIELD_TYPE.RELATION) {
              <p-card>
                <p-inputGroup>
                  <input
                    type="text"
                    pInputText
                    placeholder="Relation"
                    disabled="true"
                    value="{{ form.controls[getFieldName(col.name)].value }}"
                  />
                  <button
                    type="button"
                    pButton
                    icon="pi pi-times"
                    class="p-button-danger"
                    pTooltip="Clear"
                    (click)="clearRelation(getFieldName(col.name))"
                  ></button>
                </p-inputGroup>
                <ng-template pTemplate="footer">
                  <p-button
                    label="Select Relation"
                    (click)="openRelationModal(col)"
                  ></p-button>
                </ng-template>
              </p-card>
              <p-dialog
                header="{{ 'Select Relation from ' + relation.name }}"
                [(visible)]="relationModal"
                [modal]="true"
                [style]="{ width: '50vw' }"
                [draggable]="false"
                [resizable]="false"
                [maximizable]="true"
              >
                <div class="flex flex-wrap mt-2">
                  @for (relationEntry of relationEntries; track $index) {

                  <div
                    class="field-checkbox w-full"
                    [ngClass]="
                      form.controls[getFieldName(col.name)].value ==
                      relationEntry.uuid
                        ? 'bg-blue-200'
                        : ''
                    "
                  >
                    <p-radioButton
                      styleClass="mx-2"
                      [inputId]="relationEntry.uuid"
                      [value]="relationEntry.uuid"
                      formControlName="{{ getFieldName(col.name) }}"
                    ></p-radioButton>
                    <label [for]="relationEntry.uuid" class="w-full">
                      <code highlight-js [lang]="'json'">{{
                        relationEntry | json
                      }}</code>
                    </label>
                  </div>

                  }
                </div>
                <ng-template pTemplate="footer">
                  <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="
                      (relationPagination.current_page - 1) *
                      relationPagination.per_page
                    "
                    [rows]="relationPagination.per_page"
                    [totalRecords]="relationPagination.total"
                    [rowsPerPageOptions]="[10, 25, 50, 100]"
                    (onPage)="onRelationPageChange($event)"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    class="w-full"
                    styleClass="w-full"
                  ></p-paginator>
                  <p-button
                    icon="pi pi-check"
                    (click)="relationModal = false"
                    label="Confirm"
                  ></p-button>
                  <p-button
                    icon="pi pi-times"
                    (click)="relationModal = false"
                    label="Cancel"
                  ></p-button>
                </ng-template>
              </p-dialog>
              } @case (FIELD_TYPE.FILE) { } @case (FIELD_TYPE.SELECT) {
              <!-- @if
              (col.options.maxSelect == 1) {
              <p-dropdown
                [id]="getFieldName(col.name)"
                [options]="col.options.values"
                formControlName="{{ getFieldName(col.name) }}"
                class="w-full"
                styleClass="w-full"
              >
                <ng-template let-item pTemplate="selectedItem">
                  {{ item }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                  {{ item }}
                </ng-template>
              </p-dropdown>
              } @else { -->
              <p-multiSelect
                class="overflow-visible"
                [options]="col.options.values"
                formControlName="{{ getFieldName(col.name) }}"
                selectedItemsLabel="{0} items selected"
                [style]="{ 'min-width': '200px' }"
                placeholder="Choose Value"
                [selectionLimit]="col.options.maxSelect"
                [showToggleAll]="false"
              >
                <ng-template let-item pTemplate="selectedItem">
                  {{ item }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                  {{ item }}
                </ng-template></p-multiSelect
              >
              } }
            </div>
          </div>
        </div>
        <p-footer>
          <p-divider></p-divider>
          <div class="flex w-full align-content-end">
            <div class="mx-auto flex gap-2">
              <button type="submit" pButton label="Save"></button>
              <button
                type="button"
                pButton
                label="Cancel"
                (click)="hideDialog()"
                class="ui-button-secondary"
              ></button>
            </div>
          </div>
        </p-footer>
      </form>
    </p-dialog>
  </div>
</div>
